<ion-view title="Challenge Details">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header main">
    <ul class="list">
      <li class="item">
        <h3>Herausforderer: {{selectedChallenge.requestingUser.nickname}}</h3>

        <h3>Herausgeforderter: {{selectedChallenge.requestedUser.nickname}}</h3>
        <h4>Kategorie: {{selectedChallenge.sport.name}}</h4>
        <h4>Aufgabe: {{selectedChallenge.exercise.name}}</h4>
        <h4>Wert: {{selectedChallenge.exerciseValue}}</h4>
        <h4>Status: {{selectedChallenge.status}}</h4>
        <h4>Ablaufdatum: {{selectedChallenge.expireDate | date:'dd.MM.yyyy - HH:mm'}} Uhr</h4>

        <!-- Aktzeptieren oder Ablehnen -->
        <div class="row"
             ng-if="selectedChallenge.status === 'WAITING' && selectedChallenge.requestedUser.nickname === profile.nickname">
          <div class="col">
            <button class="button button-positive" ng-click="updateStatus('ACCEPTED')">Annehmen</button>
          </div>
          <div class="col">
            <button class="button button-assertive" ng-click="updateStatus('DENIED')">Ablehnen</button>
          </div>
        </div>

        <!-- Abschließen oder Aufgeben -->
        <div class="row"
             ng-if="selectedChallenge.status === 'ACCEPTED' && selectedChallenge.requestedUser.nickname === profile.nickname">
          <div class="col">
            <button class="button button-positive">Abschließen</button>
          </div>
          <div class="col">
            <button class="button button-assertive" ng-click="updateStatus('DENIED')">Aufgeben</button>
          </div>
        </div>
      </li>
    </ul>

  </ion-content>
</ion-view>
