<ion-view title="Freunde">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header main">
    <h1>Freunde</h1>
    <div class="list card">

      <div class="item" ng-repeat="friend in friends" ng-click="showProfile(friend.friendTwo)">
        <h2>{{friend.friendTwo.nickname}}</h2>

        <p>{{friend.friendTwo.birthdate | date: 'dd.MM.yyyy'}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
