<ion-side-menus>

<ion-pane ion-side-menu-content>
<ion-nav-bar class="bar-stable nav-title-slide-ios7">
<ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
</ion-nav-bar>
<ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
</ion-pane>

<ion-side-menu side="left" ng-show="isLoggedIn()">
<header class="bar bar-header bar-stable">
  <h1 class="title">Menü</h1>
</header>
<ion-content class="has-header">
<ion-list>
<div class="list list-inset" style="margin: 0px;">
  <div class="row">
    <div class="col col-80">
      <label class="item item-input">
        <input type="text" placeholder="Suche" ng-model="searchQuery">
      </label>
    </div>
    <div class="col col-20">
      <a class="button button-icon icon ion-search" nav-clear menu-close ng-click="searchUserByNickname(searchQuery)"></a>
    </div>
  </div>
</div>
<ion-item nav-clear menu-close href="#/app/timeline/list" ng-show="isLoggedIn()">
Timeline
</ion-item>
<ion-item nav-clear menu-close href="#/app/myChallenges/list" ng-show="isLoggedIn()">
Meine Challenges
</ion-item>
<ion-item nav-clear menu-close href="#/app/friends" ng-show="isLoggedIn()">
Freunde
</ion-item>
<ion-item nav-clear menu-close href="#/app/location" ng-show="isLoggedIn()">
Umgebung
</ion-item>
<ion-item nav-clear menu-close href="#/app/myprofile" ng-show="isLoggedIn()">
Profil
</ion-item>
<ion-item nav-clear menu-close ng-click="logout()" ng-show="isLoggedIn()">
Logout
</ion-item>
</ion-list>
</ion-content>
</ion-side-menu>
</ion-side-menus>
