<ion-view title="Meine Challenges" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header main">

    <div class="list" ng-repeat="challenge in challenges">
      <div class="item" style="padding: 0px;" ng-click="showDetails(challenge)">
        <!--<img src="mcfly.jpg">-->
        <div class="row">
          <div class="col"
               ng-click="loggedInUser.id !== challenge.requestingUser.id ? showProfile(challenge.requestingUser) : goToMyProfile()">
            <img src="{{challenge.requestingUser.avatar}}" width="50px"/>
            <p>{{challenge.requestingUser.nickname}}</p>
          </div>
          <div class="col" style="text-align: center;">
            <h3><strong>versus</strong></h3>
          </div>
          <div class="col" style="text-align: right;"
               ng-click="loggedInUser.id !== challenge.requestedUser.id ? showProfile(challenge.requestedUser) : goToMyProfile()">
            <img src="{{challenge.requestedUser.avatar}}" width="50px"/>
            <p>{{challenge.requestedUser.nickname}}</p>
          </div>
        </div>
      </div>

      <div class="item item-body" ng-click="showDetails(challenge)">
        <div class="row" style="padding: 0px;">
          <div class="col-67">
            <h4>Kategorie: {{challenge.sport.name}}</h4>
            <h4>Aufgabe: {{challenge.exercise.name}}</h4>
            <h4>Wert: {{challenge.exerciseValue}} {{challenge.sportValue}}</h4>
          </div>

          <div class="col-33">
            <i class="icon {{status[challenge.status]}} custom-icon" style="width: 33%"></i>
          </div>
        </div>

        <p>
          <span class="subdued">{{challenge.likes}} Likes</span>
          <a href="" class="subdued" style="margin-left: 10px;">{{challenge.comments.length}} Kommentare</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="" ng-click="likeChallenge(challenge.id, $index)">
          <i class="icon ion-thumbsup"></i>
          Liken
        </a>
        <a class="tab-item" href="" ng-click="showDetails(challenge)">
          <i class="icon ion-chatbox"></i>
          Kommentieren
        </a>
        <!--<a class="tab-item" href="#">-->
        <!--<i class="icon ion-share"></i>-->
        <!--Share-->
        <!--</a>-->
      </div>
    </div>

  </ion-content>
</ion-view>
