<ion-view title="{{profile.nickname}}">
  <ion-nav-buttons side="left" ng-if="isLoggedIn()">
  </ion-nav-buttons>
  <ion-content class="has-header main">

    <div class="list card">
      <div class="item item-avatar">
        <img ng-src="{{profile.avatar}}" width="100px;"/>

        <h2>{{profile.firstname}} {{profile.lastname}} ({{profile.nickname}})</h2>

        <p>{{profile.birthdate | date: 'dd.MM.yyyy'}}</p>
      </div>

      <div class="item item-body" style="padding: 0px;">
        <div class="row">
          <div class="col">
            <h3 style="margin-top: 0px;">Punkte: {{profile.points}}</h3>

            <h3>Rang: {{profile.rang}}</h3>
          </div>
        </div>

        <div class="row">
          <div class="col" ng-show="friendship === undefined && loaded && !waiting">
            <button type="button" class="button button-full button-primary custom-button"
                    ng-click="newFriend(profile.id)">Freund hinzufügen
            </button>
          </div>
          <div class="col" ng-show="waiting">
            <div class="card" style="margin: 0px;">
              <div class="item item-text-wrap" style="text-align: center;">
                Freundschaftsanfrage ausstehend
              </div>
            </div>
          </div>
          <div class="col" ng-show="friendship !== undefined && friendship.status === 'ACCEPTED'">
            <button type="button" class="button button-full button-primary custom-button" ng-click="newChallenge()">
              Herausfordern
            </button>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
