<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="de.challenger.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Challenger</name>
  <description>
    An app to challenge your friends
  </description>
  <author email="klma1021@hs-karlsruhe.de">
    Markus Klein
  </author>
  <author email="beth1015@hs-karlsruhe.de">
    Thomas Beuz
  </author>
  <author email="fech1014@hs-karlsruhe.de">
    Christian Feurer
  </author>
  <platform name="android">
              <icon src="res/android/challenger.jpg" density="ldpi" />
              <icon src="res/android/mdpi.png" density="mdpi" />
              <icon src="res/android/hdpi.png" density="hdpi" />
              <icon src="res/android/xhdpi.png" density="xhdpi" />
     </platform>

  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <feature name="InAppBrowser">
    <param name="ios-package" value="CDVInAppBrowser" />
    <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
  </feature>
</widget>
