/* Empty. Add your own CSS if you like */

.main {
  padding: 15px;
}

.custom-button {
  border: 1px solid #B2B2B2;
}

#loading-bar .bar {
  background: #2c3e50;
}
#loading-bar .peg {
  -moz-box-shadow: #2c3e50 1px 0 6px 1px;
  -ms-box-shadow: #2c3e50 1px 0 6px 1px;
  -webkit-box-shadow: #2c3e50 1px 0 6px 1px;
  box-shadow: #2c3e50 1px 0 6px 1px;
}

.angular-google-map-container { height: 600px; }
