/* Empty. Add your own CSS if you like */

.main {
  padding: 15px;
}

.custom-button {
  border: 1px solid #B2B2B2;
}

.custom-icon {
  font-size: 100px;
}

.ion-clock, .ion-help-circled, .ion-gear-b {
  color: #FFA500;
}

.ion-minus-circled {
  color: #FF0000;
}

.ion-checkmark-circled {
  color: #3B5998;
}

.custom-nav-bar {
  background-color: #3B5998 !important;
}

.custom-nav-bar h1 {
  color: #FFFFFF !important;
}

.custom-nav-bar .ion-navicon {
  color: #FFFFFF;
}

.custom-nav-bar .ion-navicon:hover {
  color: #FFFFFF;
}

.back-button {
  color: #FFFFFF !important;
}

.list .tabs {
  margin: auto;
}

#loading-bar .bar {
  background: #2c3e50;
}
#loading-bar .peg {
  -moz-box-shadow: #2c3e50 1px 0 6px 1px;
  -ms-box-shadow: #2c3e50 1px 0 6px 1px;
  -webkit-box-shadow: #2c3e50 1px 0 6px 1px;
  box-shadow: #2c3e50 1px 0 6px 1px;
}

.angular-google-map-container {
  height: 500px;
}

#map-canvas{
  height: 500px;
}
